

{% extends 'inicio.html' %}
{% load static %}

{% block content %}
<br>
<h3 class="text-center">{{ titulo|default:"Crear Contrato Subcontrato" }}</h3>

<div class="col-md-10 mx-auto">
    <div class="card shadow p-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-success">
                    {% if accion %}{{ accion }}{% else %}Crear{% endif %}
                </button>
                <a href="{% url 'tabla_contrato_subcontrato' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}