

{% extends 'inicio.html' %}
{% load static %}

{% block content %}
<br>
<h3 class="text-center">{{ titulo|default:"Crear Proyecto" }}</h3>

<div class="col-md-10 mx-auto">
    <div class="card shadow p-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success"><i class="bi bi-floppy-fill"></i> Guardar Proyecto</button>
                <a href="{% url 'tabla_proyecto_nuevo' %}" class="btn btn-danger"><i class="bi bi-x-lg"></i> Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}