


{% extends 'inicio.html' %}
{% load static %}

{% block content %}
<br>
<h3 class="text-center">Subir Excel</h3>

<div class="col-md-7 mx-auto">
    <div class="card shadow p-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success mb-3">Subir archivo</button>
            </form>
            
            {% if archivos_subidos %}
                <p>¡Los archivos han sido subidos correctamente!</p>
            
                <form action="{% url 'cargar_datos' %}" method="post">
                    {% csrf_token %}
                    <label for="archivo">Selecciona qué archivo cargar:</label>
                    <select name="archivo" id="archivo">
                        <option value="proyecto">1. Proyecto</option>
                        <option value="categoria">2. Categoría</option>
                        <option value="cantidades">3. Cantidad</option>
                        <option value="cotizacion_materiales">4. Cotizacion Materiales</option>
                        <option value="mb">5. MB</option>
                        <option value="mano_obra">6. Mano de Obra</option>
                        <option value="materiales_otros">7. Materiales y Otros</option>
                        <option value="adquisiciones">8. Adquisiciones</option>
                        <option value="equipos_construccion">8. Equipos de Construcción</option>
                        <option value="apu_general">8. APU General</option>
                        <option value="apu_especifico">8. APU Específico</option>
                        <option value="especifico_categoria">8. Específico Categoría</option>
                        <option value="staff_enami">8. Staff Enami</option>
                        <option value="contrato_subcontrato">8. Contrato Subcontrato</option>
                        <option value="ingenieria_detalles_contraparte">8. Ingenieria Detalles Contraparte</option>
                        <option value="gestion_permisos">8. Gestion Permisos</option>
                        <option value="dueno">8. Dueño</option>
                        <option value="administracion_supervision">8. Administracion Supervision</option>
                        <option value="personal_indirecto_contratista">8. Personal Indirecto Contratista</option>
                        <option value="servicios_apoyo">8. Servicios Apoyo</option>
                        <option value="otros_adm">8. Otros ADM</option>
                        <option value="administrativo_financiero">8. Administrativo Financiero</option>
                        <option value="datos_ep">8. Datos EP</option>
                        <option value="datos_otros_ep">8. Datos Otros EP</option>
                    </select>
            
                    <button type="submit" class="btn btn-primary mb-3">Cargar datos</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}