

  {% extends 'inicio.html' %}


{% block content %}

<h3>Tabla General Nivel 3</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Costo Total</th>
      <th>Proyecto</th>
      <th>Nivel</th>
    </tr>
  </thead>
  <tbody>
    {% for categoria in categorias_nivel_3 %}
      <tr>
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.costo_total }}</td>
        <td>{{ categoria.proyecto_nombre }}</td>
        <td>{{ categoria.nivel }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}